.tem-section{
    width: 100%;
    background-color: white; 
    padding-bottom: 50px;
}

.tem-section h1{
    text-align: center;
    padding: 25px 0px;
}

.card{
    width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;

}

img {
    display: inline-block;
    width: 85%;
    height: 90%;
}

.web-items{
    flex-basis: 16%;
    margin: 10px 0;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 10px 3px lightgray;
}

.web-items button{
    cursor: pointer;
    background-color: white;
    border: none;
    margin: 5px;
}

.web-items:hover{
    background-color: rgb(252, 249, 249);
}


 @media (max-width: 1120px){
    .card{
        width: 100%;
        display: flex;
    }

    img {
        display: inline-block;
        width: 200px;
        height: 400px;
    }
}
